
.face__text{
    position: relative;
    text-align: left;
    width: 30vw;
    margin-top: 10vh;
}
.face__head{
    font-size: 3rem;
    color: #273b98;
    margin-bottom: 1vw;
    display: inline-block;
}
.face__para{
    font-size: 1.2rem;
}
@media(max-width:992px){
    .face_c{
        width: 80vw;
    }
    .face_w{
        width: 80vw;
    }
    .face__text{
        position: relative;
        text-align: center;
        width: 100vw;
        margin-top: 10vh;
    }
    .face__head{
        font-size: 25px;
    }
    .face__div img{
        display: none;
    }
}
